# dependencies
node_modules/

# environment variables
.env
.env.local

# logs
logs/
*.log
npm-debug.log*

# runtime data
pids/
*.pid
*.seed
*.pid.lock

# coverage
coverage/

# build files
dist/
build/

# uploads (optional)
uploads/

# editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# cache
.cache/

# misc
*.pem